<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <ul>
        {% if user.is_authenticated %}
        <li class="">
          <a href="/logout" class="">
            Logout
          </a>
        </li>
        <li class="">
          <a href="#" class="">
            {{ user.username }}
          </a>
        </li>
        {% else %}
        <li class="">
          <a href="/login" class="">
             Log In
          </a>
        </li>
        <li class="">
          <a href="/signup" class="">
            Sign In
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% if user.is_authenticated %}
      <h1>
        User is auth
      </h1>
    {% else %}
      <h1>
          User isn't auth
      </h1>
    {% endif %}
  </body>
</html>
